@font-face{
    font-family: CustomFont;
    src: url(../Kanit-ExtraLight.ttf);
}

nav{
    height: 100%;
    background-color: #000000;
}

nav img{
    height: 5vh;
}

nav h3{
    color: #e4e4e4;
    padding: 0;
    margin: 0;
}

#navbox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body{
    background-color: #e4e4e4;
    font-family: CustomFont;
}


/*---------------------------*/

#mainbox{
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainbox video{
    width: 55vw;
}

#videosbox video{
    width: 20vw;
}

#videosbox{
    display: flex;
    align-items: center;
    justify-content: center;
}

#videosbox div + div{
    margin-left: 1vw;
}

h1{
    text-align: center;
    font-weight: bold;
}