nav{
    height: 5vh;
    background-color: #000000;
}

nav img{
    height: 5vh;
}

#navbox{
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    background-color: #e4e4e4;
}